<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Sitesi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css"> <!-- Böyle tanımlarda direk public in içine bakar public/css/ .. dememize gerek yok.-->

</head>
<body>
<div class="block"></div>
<div class="container">
    <%- body %>
</div>


</body>
</html>